== slim :flashes

== slim :budget_item_form, locals: {item: BudgetExpense.new, submit_path: path_to(:budget)}

ruby:
  current_month = {
    incomes: @incomes,
    expenses: @expenses,
    req_expenses: @req_expenses,
    date_start: @drange[1],
    date_end: @drange[2] }
  next_month = {
    incomes: @next_incomes,
    expenses: @next_expenses,
    req_expenses: @next_req_expenses,
    date_start: @drange[2],
    date_end: @drange[3]}

table
  tr
    td
      h2 Current month
      == slim :budget_month, locals: current_month
    td style="vertical-align: top;"
      h2 Coming month
      == slim :budget_month, locals: next_month

