// template locals: operations, date_start, date_end

ruby:
  incomes_hash = {}
  operations.each do |date,ops|
    ops.each do |op|
      if op.income_amount > 0
        incomes_hash[op.income_currency_id] = (incomes_hash[op.income_currency_id] || 0) + op.income_amount
      end
    end
  end
  income_total = total_conversion(incomes_hash, $main_currency, Date.today)
  days_in_month = date_end - date_start

div.budget-expenses-cell

  h3 Incomings

  table.table-cell-right-align#incomings-table
    - d = Date.new
    - operations.each do |date,ops|
     - ops.each do |op|
      - next unless op.income_amount > 0
      tr
        td
          - if d != op.date
            == op.date.strftime("%b&nbsp;%-e")
            - d = op.date
        td.money class="td-left-align title-table-cell" = op.description
        td.money == money_format(op.income_amount, op.income_currency_id)
        td
          a href=path_to(:budget_record).with(op.id) Edit
          a< href=path_to(:budget_record).with(op.id) data-method="delete" data-confirm="Delete?" Delete
    tr
      td
      td style="font-weight: bold;"
        ' Total:
      td.money
        == money_format(income_total, $main_currency.id)
    tr
      td
      td style="font-weight: bold;"
        ' Daily quota:
      td.money
        - daily_quota = income_total / days_in_month.to_f
        == money_format(daily_quota, $main_currency.id)

  h3 Expenses

  - d = date_start
  - expenses_hash = {}
  - types_sum = {}
  table.table-cell-right-align#expenses-table
    tr
      th Date
      th T
      th Description
      th Expenses
    - while d < date_end
      - date_printed = false
      - if operations.has_key?(d)
        - operations[d].each do |e|
          - next if e.income_amount > 0
          - expenses_hash[e.expense_currency_id] = (expenses_hash[e.expense_currency_id] || 0) + e.expense_amount
          - item_category = $tags[e.tag_id][:parent] ? $tags[e.tag_id][:parent] : e.tag_id
          - types_sum[item_category] ||= {}
          - types_sum[item_category][e.expense_currency_id] ||= 0
          - types_sum[item_category][e.expense_currency_id] += e.expense_amount
          tr class="expense-row expense-#{item_category}" data-id=item_category
            td == date_printed ? "" : d.strftime("%b&nbsp;%-e")
            td class="expense-icon expense-#{item_category}" data-id=item_category
              img.category-icon src="/ico/#{$tags[item_category][:image]}"
            td class="td-left-align title-table-cell"
              - if e.tag_id == 0
                ' 📌
              = $tags[e.tag_id][:title] + ((e.shop && !e.shop.empty?) ? " @ #{e.shop}" : "")
              a< href=path_to(:budget_record).with(e.id) Edit
              a< href=path_to(:budget_record).with(e.id) data-method="delete" data-confirm="Delete?" Delete
            td == money_format(e.expense_amount, e.expense_currency_id)
          - e.description.split("\n").each do |desc_line|
            tr
              td colspan=2
              td class="td-left-align title-table-cell expense-description" = desc_line
          - date_printed = true
      - else
        - if d == Date.today
          tr.highlight
            td = d.strftime("%b %-e")
            td
            td.td-left-align Today
            td -
      - d += 1
    - expense_total = total_conversion(expenses_hash, $main_currency, Date.today)
    tr
      td
      td
      td style="font-weight: bold;" Total expenses
      td.money == money_format(expense_total, $main_currency.id)
    tr
      td
      td
      td style="font-weight: bold;" Final balance:
      td.money == money_format(income_total - expense_total, $main_currency.id)

  h3 Расходы по категориям

  - types_sum_main_currency = {}
  - types_sum.each { |k,v| types_sum_main_currency[k] = total_conversion(v, $main_currency, Date.today) }
  table.tags-summary-table
    - types_sum_main_currency.sort_by {|k,v| v}.reverse.each do |tkey, tval|
      tr
        td
          a data-id=tkey class="expense-button" = $tags[tkey][:title]
        td.money == money_format(tval * -1, $main_currency.id)

ruby:
  remainder_hash = {}
  if date_start.year == Date.today.year && date_start.month == Date.today.month
    incomes_hash.each   {|k,v| remainder_hash[k] = (remainder_hash[k] || 0) + v}
    expenses_hash.each  {|k,v| remainder_hash[k] = (remainder_hash[k] || 0) - v}
  end

div.budget-savings-cell
  h3 Savings
  - @start_savings = @savings.clone

  table.table-cell-right-align#savings-table
    tr
      th Date
      th Details
    - d = Date.new
    - @budget_savings.each do |bs|
      - @savings[bs.income_currency_id] = (@savings[bs.income_currency_id] || 0) + bs.income_amount if bs.income_currency_id
      - @savings[bs.expense_currency_id] = (@savings[bs.expense_currency_id] || 0) - bs.expense_amount if bs.expense_currency_id
      tr
        td
          - if bs.date != d
            == bs.date.strftime("%b&nbsp;%-e")
            - d = bs.date
        td.td-left-align.money
          = bs.is_conversion ? "🔄" : ''
          - if bs.expense_amount > 0
            span.negative
              ' ↥
              == money_format(bs.expense_amount, bs.expense_currency_id)
          - if bs.income_amount > 0
            span.positive
              ' ↧
              == money_format(bs.income_amount, bs.income_currency_id)
          a< href=path_to(:budget_record).with(bs.id) Edit
          a< href=path_to(:budget_record).with(bs.id) data-method="delete" data-confirm="Delete?" Delete
      - if bs.description && !bs.description.empty?
        - bs.description.split("\n").each do |desc_line|
          tr
            td
            td class="td-left-align title-table-cell expense-description" = desc_line

    - remainder_hash.each do |curr_id, v|
      tr
        td ##
        td.td-left-align.money
          - if v > 0
            span style="color: green" ↧
          - else
            span style="color: red" ↥
          == money_format(v, curr_id)
      - @savings[curr_id] = (@savings[curr_id] || 0) + v

  table.money
    tr
      td
        - @start_savings.keys.concat(@savings.keys).uniq.each do |curr_id|
          - next if @start_savings[curr_id] == 0 && @savings[curr_id] == 0
          - value_diff = (@savings[curr_id] || 0) - (@start_savings[curr_id] || 0)
          - rate_diff = curr_id == $main_currency.id ? 0 : $price_converter.convert_currency($currencies[curr_id], $main_currency, @start_savings[curr_id] || 0, date_end) - $price_converter.convert_currency($currencies[curr_id], $main_currency, @start_savings[curr_id] || 0, date_start)
          div.total-block
            = currency_symbol(curr_id)
            div class="total-block-dst #{rate_diff >= 0 ? 'positive' : 'negative'}" == rate_diff == 0 ? '~' : money_format(rate_diff, $main_currency.id)
            == money_round(@savings[curr_id], curr_id)
            div class="total-block-dst #{value_diff >= 0 ? 'positive' : 'negative'}" == value_diff == 0 ? '~' : money_format(value_diff, curr_id)
            div.total-block-dst == curr_id == $main_currency.id ? '~' : money_format($price_converter.convert_currency($currencies[curr_id], $main_currency, @savings[curr_id] || 0, date_end), $main_currency.id)
      td = '='
      td: div.total-block
        - total1 = total_conversion(@start_savings, $main_currency, date_start)
        - total1_end = total_conversion(@start_savings, $main_currency, date_end)
        - total2 = total_conversion(@savings, $main_currency, date_end)
        = currency_symbol($main_currency.id)
        div.total-block-dst == money_format(total1_end - total1, $main_currency.id)
        == money_round(total2, $main_currency.id)
        div.total-block-dst == money_format(total2 - total1, $main_currency.id)
