// template locals: incomes, expenses, date_start, date_end

ruby:
  incomes_hash = {}
  incomes.each do |i|
    incomes_hash[i.currency_id] ||= 0
    incomes_hash[i.currency_id] += i.amount
  end
  income_total = total_conversion(incomes_hash, $main_currency, Date.today)
  days_in_month = date_end - date_start

div.main_column

  h3 Incomings

  table.table-cell-right-align#incomings-table
    - d = Date.new
    - incomes.each do |i|
      tr
        td
          - if d != i.date
            == i.date.strftime("%b&nbsp;%-e")
            - d = i.date
        td class="td-left-align title-table-cell" = i.description
        td.money == money_format(i.amount, i.currency_id)
        td
          a href=path_to(:budget_record).with(i.id) Edit
          a< href=path_to(:budget_record).with(i.id) data-method="delete" data-confirm="Delete?" Delete
    tr
      td
      td style="font-weight: bold;"
        ' Total:
      td.money
        == money_format(income_total, $main_currency.id)
    tr
      td
      td style="font-weight: bold;"
        ' Daily quota:
      td.money
        - daily_quota = income_total / days_in_month.to_f
        == money_format(daily_quota, $main_currency.id)

  h3 Expenses

  - d = date_start
  - expenses_hash = {}
  - types_sum = {}
  table.table-cell-right-align#expenses-table
    tr
      th Date
      th Type
      th Description
      th Expenses
    - while d < date_end
      - date_printed = false
      - if expenses.has_key?(d)
        - expenses[d].each do |e|
          - expenses_hash[e.currency_id] ||= 0
          - expenses_hash[e.currency_id] += e.amount
          - item_category = $tags[e.tag_id][:parent] ? $tags[e.tag_id][:parent] : e.tag_id
          - types_sum[item_category] ||= {}
          - types_sum[item_category][e.currency_id] ||= 0
          - types_sum[item_category][e.currency_id] += e.amount
          tr class="expense-row expense-#{item_category}" data-id=item_category
            td == date_printed ? "" : d.strftime("%b&nbsp;%-e")
            td class="expense-icon expense-#{item_category}" data-id=item_category
              = $tags[item_category][:title]
            td class="td-left-align title-table-cell"
              - if e.tag_id == 0
                ' 📌
              = $tags[e.tag_id][:title] + ((e.shop && !e.shop.empty?) ? " @ #{e.shop}" : "")
              a< href=path_to(:budget_record).with(e.id) Edit
              a< href=path_to(:budget_record).with(e.id) data-method="delete" data-confirm="Delete?" Delete
            td == money_format(e.amount, e.currency_id)
          - e.description.split("\n").each do |desc_line|
            tr
              td colspan=2
              td class="td-left-align title-table-cell expense-description" = desc_line
          - date_printed = true
      - else
        - if d == Date.today
          tr.highlight
            td = d.strftime("%b %-e")
            td
            td.td-left-align Today
            td -
      - d += 1
    - expense_total = total_conversion(expenses_hash, $main_currency, Date.today)
    tr
      td
      td
      td style="font-weight: bold;" Total expenses
      td.money == money_format(expense_total, $main_currency.id)
    tr
      td
      td
      td style="font-weight: bold;" Final balance:
      td.money == money_format(income_total + expense_total, $main_currency.id)

  h3 Расходы по категориям

  - types_sum_main_currency = {}
  - types_sum.each { |k,v| types_sum_main_currency[k] = total_conversion(v, $main_currency, Date.today) }
  table.tags-summary-table
    - types_sum_main_currency.sort_by {|k,v| v}.each do |tkey, tval|
      tr
        td
          a data-id=tkey class="expense-button" = $tags[tkey][:title]
        td.money == money_format(tval * -1, $main_currency.id)


ruby:
  def print_savings(sav)
    total_blocks = []
    puts "==== #{sav}"
    sav[:src].each do |k,v|
      if v > 0
        txt = "<div class=\"total-block\">"
        txt += "#{currency_symbol(k)}<br>#{money_round(v)}<br>"
        txt += "<span class=\"total-block-dst\">"
        txt += k != $main_currency.id ? "#{money_format(sav[:dst][k], $main_currency.id)}" : "~"
        txt += "</span></div>"
        total_blocks << txt
      end
    end

    result  = "<table><tr><td><b>TOTAL:</b></td><td>"
    result += total_blocks.join('')
    result += "</td><td>=</td><td><div class=\"total-block\">#{currency_symbol($main_currency.id)}<br>"
    result += money_round(sav[:total])
    if sav[:diff]
      diff_class = sav[:diff] >= 0 ? "positive" : "negative"
      result += "<br><span class=\"total-block-dst #{diff_class}\">#{money_format(sav[:diff], $main_currency.id)}</span></div>"
    else
      result += "<br><span class=\"total-block-dst\">~</span></div>"
    end
    result += "</td></tr></table>"

    return result
  end

div.main_column
  h3 Savings

  - prev_total_savings = total_conversion(@savings, $main_currency, date_start, true)
  div.money == print_savings(prev_total_savings)

  table.table-cell-right-align#savings-table
    tr
      th Date
      th Details
    - d = Date.new
    - @budget_savings.each do |bs|
      - @savings[bs.currency_id] ||= 0
      - @savings[bs.currency_id] += bs.amount
      tr
        td
          - if bs.date != d
            == bs.date.strftime("%b&nbsp;%-e")
            - d = bs.date
        td.td-left-align.money
          = bs.is_conversion ? "🔄" : ''
          == money_format(bs.amount, bs.currency_id)
          a< href=path_to(:budget_record).with(bs.id) Edit
          a< href=path_to(:budget_record).with(bs.id) data-method="delete" data-confirm="Delete?" Delete
      - if bs.description && !bs.description.empty?
        - bs.description.split("\n").each do |desc_line|
          tr
            td
            td class="td-left-align title-table-cell expense-description" = desc_line

  - total_savings = total_conversion(@savings, $main_currency, date_end, true)
  - total_savings[:diff] = total_savings[:total] - prev_total_savings[:total]
  div.money == print_savings(total_savings)

