body {
  font-family: Lucida Grande, Segoe UI;
  font-size: 12pt;
}
.wide-cell {
  text-align: right;
  padding-left: 20px;
}
.operation-form {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}
.table-cell-right-align td {
  text-align: right;
  padding: 1px 6px 2px 6px;
}
td.td-left-align {
  text-align: left;
}

#expenses-table.expense-default tr.expense-default td,
#expenses-table.expense-food tr.expense-food td,
#expenses-table.expense-car tr.expense-car td,
#expenses-table.expense-beauty tr.expense-beauty td,
#expenses-table.expense-transport tr.expense-transport td,
#expenses-table.expense-household tr.expense-household td,
#expenses-table.expense-entertainment tr.expense-entertainment td,
#expenses-table.expense-utilities tr.expense-utilities td,
#expenses-table.expense-gifts tr.expense-gifts td,
#expenses-table.expense-electric-appliances tr.expense-electric-appliances td {
  background: #ffab33;
}
