body {
  font-family: Lucida Grande, Segoe UI, Helvetica Neue;
  font-size: 12pt;
}
a {
  color: #1c79cb;
}
a:hover {
  color: #529fe2;
}
.wide-cell {
  text-align: right;
  padding-left: 20px;
}
.operation-form {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}
.table-cell-right-align td {
  text-align: right;
  padding: 1px 6px 2px 6px;
}
td.td-left-align {
  text-align: left;
}
a.expense-button {
  text-decoration: underline;
  text-decoration-style: dashed;
  cursor: pointer;
}
.expense-icon {
  cursor: pointer;
}
.expense-hl-permanent {
  background: #33d3ff;
}
.expense-hl td:nth-child(3) {
  background: #ffab33;
}
body.hide-money .money {
  color: #eee !important;
  background: #eee !important;
}
body.hide-money .money:hover {
  color: black !important;
  background: none !important;
}
div.main_column {
  display: inline-block;
  vertical-align: top;
  padding: 0 25px 0 15px;
}
.title-table-cell {
  max-width: 450px;
}
.highlight {
  background: #ffc90e;
}
.calendar-table td {
  padding: 1px 4px 1px 3px;
}
.expense-description {
  font-size: 8pt;
  opacity: 0.5;
}
.total-block {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.total-block-dst {
  font-size: 0.6em;
}
.positive {
  color: #00bb00;
}
.negative {
  color: #990000;
}
svg line,
svg rect {
  shape-rendering: crispEdges;
}
svg line.bold_grid   { stroke: #000000; }
svg line.normal_grid { stroke: #cccccc; }
svg rect.incoming  { fill: #e9c500; }
svg rect.normal    { fill: #558abb; }
svg rect.profit    { fill: #00d23b; }
svg rect.loss      { fill: #d24000; }
svg rect.expense   { fill: #ffffff; }
