body {
  font-family: Lucida Grande, Segoe UI;
  font-size: 12pt;
}
.wide-cell {
  text-align: right;
  padding-left: 20px;
}
.operation-form {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}
.table-cell-right-align td {
  text-align: right;
  padding: 1px 6px 2px 6px;
}
td.td-left-align {
  text-align: left;
}

.budget-type-default {
}
.budget-type-food {
  background: #92b34b;
}
.budget-type-car {
  background: #f87a00;
}
.budget-type-beauty {
  background: #b84a9f;
}
.budget-type-transport {
  background: #416971;
  color: white;
}
.budget-type-household {
  background: #08d6ff;
}
.budget-type-entertainment {
  background: #fffb2b;
}
.budget-type-utilities {
 background: #88a8f2;
}
.budget-type-gifts {
  background: #cc1d5d;
}
.budget-type-electric-appliances {
  background: #00611e;
  color: white;
}
